@use '../../../colors.scss' as *;

.segments-container {
    width: 100%;
    height: 200px;

    .segments {
        position: absolute;

        top: 50%;

        transform: translateY(-50%);

        background: $background;
    }
}